# PT Manager Frontend Environment Variables

VITE_API_BASE_URL= http://localhost:8000
VITE_API_KEY=XXXXXXXXX

notification_test_mode=true/false
notification_test_minutes=2

VERCEL_TOKEN=your_vercel_token
VERCEL_ORG_ID=your_vercel_org_id
VERCEL_PROJECT_ID=your_vercel_project_id
