# Environment variables for local development

# Work environment
ASPNETCORE_ENVIRONMENT=Development

# Database Connection
ConnectionStrings__DefaultConnection=Host=localhost;Port=5437;Database=postgres;Username=postgres;Password=postgres

PTMANAGER_DB=your_database_name
PTMANAGER_DB_USER=your_database_user
PTMANAGER_DB_PASSWORD=your_database_password
